@{
  ViewData["Title"] = "Help";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<h1 class="page__title" itemprop="headline">Getting Started on MyXimBlockWallet.org</h1>
	<div class="content">
		<ul>
			<li> Please take some time to understand this for your own safety. 🙏 </li>
		</ul>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					What is MyXimBlockWallet.org?
				</h3>
				<ul>
					<li>MyXimBlockWallet is a free, open-source, client-side interface.  </li>
					<li>We allow you to interact directly with the blockchain while remaining in full control of your keys &amp; your funds.  </li>
					<li>Will includes support for all the great features of XIM in the future: <a href="/AboutInstantSend">SwiftTX</a> and <a href="/AboutPrivateSend">Obfuscation</a> (and staking if we can realize it)</li>
					<li>You and only you are responsible for your security.  </li>
					<li>We cannot recover your funds or freeze your account if you visit a phishing site or lose your private key. </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/XimBlockLogoBig.png" style="max-width:400px" alt="XIM" />
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					MyXimBlockWallet is not a Bank
				</h3>
				<ul>
					<li>When you open an account with a bank or exchange, they create an account for you in their system.  </li>
					<li>The bank keeps track of your personal information, account passwords, balances, transactions and ultimately your money.  </li>
					<li>The bank charge fees to manage your account and provide services, like refunding transactions when your card gets stolen.  </li>
					<li>The bank allows you to write a check or charge your debit card to send money, go online to check your balance, reset your password, and get a new debit card if you lose it.  </li>
					<li>You have an account with the bank or exchange and they decide how much money you can send, where you can send it, and how long to hold on a suspicious deposit. All for a fee.  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-02.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					MyXimBlockWallet is an Interface
				</h3>
				<ul>
					<li>When you create an account on MyXimBlockWallet you are generating a cryptographic set of numbers: your private key and your public key (address).  </li>
					<li>The handling of your keys happens entirely on your computer, inside your browser.  </li>
					<li>We never transmit, receive or store your private key, password, or other account information.  </li>
					<li>We do not charge a transaction fee.  </li>
					<li>You are simply using our interface to interact directly with the blockchain.  </li>
					<li>If you send your public key (address) to someone, they can send you XIM. 👍  </li>
					<li>If you send your private key to someone, they now have full control of your account. 👎  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-03.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					Wait, what is a Blockchain?
				</h3>
				<ul>
					<li>The blockchain is like a huge, global, decentralized spreadsheet.  </li>
					<li>It keeps track of who sent how many coins to whom, and what the balance of every account is.  </li>
					<li>It is stored and maintained by thousands of people (miners) across the globe who have special computers.  </li>
					<li>The blocks in the blockchain are made up of all the individual transactions sent from MyXimBlockWallet and everywhere else.  </li>
					<li>When you see your balance on MyXimBlockWallet.org or view your transactions on <a href="//chainz.cryptoid.info/ximblock">chainz.cryptoid.info/ximblock</a>, you are seeing data on the blockchain, not in our personal systems.  </li>
					<li>Again: we are not a bank  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-04.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					We need you to understand that we <strong>cannot</strong>...
				</h3>
				<ul>
					<li>Access your account or send your funds for you X.  </li>
					<li>Recover or change your private key.  </li>
					<li>Recover or reset your password.  </li>
					<li>Reverse, cancel, or refund transactions.  </li>
					<li>Freeze accounts.  </li>
				</ul>
				<h3>
					<strong>You</strong> and <strong>only you</strong> are responsible for your security.
				</h3>
				<ul>
					<li>Be diligent to keep your private key and password safe. Your private key is sometimes called your mnemonic phrase, keystore file, UTC file, JSON file, wallet file.  </li>
					<li>If lose your private key or password, no one can recover it.  </li>
					<li>If you enter your private key on a phishing website, you will have all your funds taken.  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-05.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					If MyXimBlockWallet can't do those things, what's the point?
				</h3>
				<ul>
					<li>Because that is the point of decentralization and the blockchain.  </li>
					<li>You don't have to rely on your bank, government, or anyone else when you want to move your funds.  </li>
					<li>You don't have to rely on the security of an exchange or bank to keep your funds safe.  </li>
					<li>If you don't find these things valuable, ask yourself why you think the blockchain and cryptocurrencies are valuable. 😉  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-06.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					How To Protect Yourself from Phishers
				</h3>
				Phishers send you a message with a link to a website that looks just like MyXimBlockWallet, Paypal, or your bank, but is not the real website. They steal your information and then steal your money.
				<ul>
					<li>Always check the URL: <code>https://MyXimBlockWallet.org</code>.  </li>
					<li>Always make sure the <code>MyXimBlockWallet.org</code> URL bar has <b>Secure</b> in green.  </li>
					<li>Do not trust messages or links sent to you randomly via email, Slack, Reddit, Twitter, etc.  </li>
					<li>Always navigate directly to a site before you enter information. Do not enter information after clicking a link from a message or email.  </li>
					<li><a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en">Install an AdBlocker</a> and do not click ads on your search engine (e.g. Google).  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-07.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					How To Protect Yourself from Scams
				</h3>
				People will try to get you to give them money in return for nothing.
				<ul>
					<li>If it is too good to be true, it probably is.  </li>
					<li>Research before sending money to someone or some project. Look for information on a variety of websites and forums. Be wary.  </li>
					<li>Ask questions when you don't understand something or it doesn't seem right.  </li>
					<li>Don't let fear, <a href="https://en.wikipedia.org/wiki/Fear,_uncertainty_and_doubt">FUD</a>, or <a href="https://en.wikipedia.org/wiki/Fear_of_missing_out">FOMO</a> win over common sense. If something is very urgent, ask yourself "why?". It may be to create FOMO or prevent you from doing research.  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-08.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					How To Protect Yourself from Loss
				</h3>
				If you lose your private key or password, it is gone forever. Don't lose it.
				<ul>
					<li>Make a backup of your private key and password. Do NOT just store it on your computer. Print it out on a piece of paper or save it to a USB drive.  </li>
					<li>Store this paper or USB drive in a different physical location. A backup is not useful if it is destroyed by a fire or flood along with your laptop.  </li>
					<li>Do not store your private key in Dropbox, Google Drive, or other cloud storage. If that account is compromised, your funds will be stolen.  </li>
					<li>If you have more than 1-week's worth of pay worth of cryptocurrency, get a hardware wallet. No excuses. It's worth it. I promise.  </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-09.svg" alt="">
			</div>
		</section>
		<br><br>
		<section class="row align-items-center">
			<div class="col col-sm-7">
				<h3>
					Onwards!
				</h3>
				<ul>
					<li><a href="https://colossusxt.org/">Official ColossusXT Website</a> </li>
				</ul>
			</div>
			<div class="col col-sm-4 offset-sm-1">
				<img src="/images/onboarding_icon-10.svg" alt="">
			</div>
		</section>
	</div>
</article>